@import '../../CustomVariables.scss';

#topNavbar{
  background-color: $custom-pink;
  height: 40px;
}

.logo-container{
  width: 179px;
  height: 74px;
  position: absolute;
  left: 1.25%;
  right: 86.32%;
  top: 3.9%;
  background-color: $custom-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  bottom: 0%;
  z-index: 1080;
}

.project-refocus-logo{
  width: 148px;
  height: 55px;
  border-radius: 4px;
  position: absolute;
  left: 8%;
  top: 15.58%;
  bottom: 12.99%;
  right: 87.36%;
}

.banner-mask-container{
  height: 88px;
  width: 100%;
  position: relative;
}

#account-log-name{
  font-family: $fontLato;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
