@import '../../CustomVariables.scss';

#tabNavigation{
  .nav-tabs{
    position: absolute;
    top: -36px;
    z-index: 1070;

    @media (min-width: 576px){
      margin-left: -12px;
    }

    @media (min-width: 768px){
      margin-left: -12px;
    }

    @media (min-width: 992px){
      margin-left: 12px;
    }

    .nav-link {
      background-color: $custom-white;
      color: $custom-black-1;
      font-family: $fontOpenSans;
      font-size: $fontSize14;
      line-height: 19px;
      font-style: normal;
    }
    
    .nav-item{
      margin-right: 4px;
      border-radius: 4px 4px 0px 0px;
    }
  }
}

#sidebar-container{
  background-color: $custom-grey-4;
  border-radius: 4px;
  border: 1px solid $custom-grey-3;
}