/* colors */
$custom-pink : #CD36A3;
$custom-green-1 : #6CC7B6;
$custom-yellow: #F2B51C;
$custom-orange: #FC8D1F;
$custom-grey-1: #636E72;
$custom-grey-2: #B2BEC3;
$custom-grey-3: #DFE6E9;
$custom-grey-4: #F9FAFB;
$custom-hot-pink:  #F0027F;
$custom-purple: #8F26E1;
$custom-green-2: #68BB7B;
$custom-white: #ffffff;
$custom-black-1: #2D3436;
$custom-blue-1: #72BBF4;
$custom-blue-2: #D3ECFF;
$custom-blue-3: #086EBE;

/* fonts */
$fontLato: 'Lato', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontSize14: 14px;
$fontSize18: 18px;
$fontWeight400: 400;
$fontStyleNormal: normal;

